[package]
name = "massa_signature"
version = "0.25.2"
authors = ["Massa Labs <info@massa.net>"]
edition = "2021"

[dependencies]
bs58 = {workspace = true, "features" = ["check"]}
displaydoc = {workspace = true}
ed25519-dalek = {workspace = true, "features" = ["batch"]}
serde = {workspace = true, "features" = ["derive"]}
thiserror = {workspace = true}
nom = {workspace = true}
rand = "0.7"
transition = {workspace = true}
massa_hash = {workspace = true}
massa_serialization = {workspace = true}

[dev-dependencies]
serial_test = {workspace = true}
serde_json = {workspace = true}   # BOM UPGRADE     Revert to "1.0" if problem
