[package]
name = "massa_sdk"
version = "0.26.0"
edition = "2021"

[dependencies]
jsonrpsee = {workspace = true, "features" = ["client"]}
jsonrpsee-http-client = {workspace = true, "features" = ["webpki-tls"]}
jsonrpsee-ws-client = {workspace = true, "features" = ["webpki-tls"]}
http = {workspace = true}
tonic = {workspace = true, "features" = ["gzip"]}   # BOM UPGRADE     Revert to {"version": "0.9.1", "features": ["gzip"]} if problem
thiserror = {workspace = true}
tracing = {workspace = true, "features" = ["log"]}   # BOM UPGRADE     Revert to {"version": "0.1", "features": ["log"]} if problem
massa_api_exports = {workspace = true}
massa_models = {workspace = true}
massa_time = {workspace = true}
massa-proto-rs = {workspace = true, "features" = ["tonic"]}
