[submodule "massa-deploy"]
	path = massa-deploy
	url = https://github.com/massalabs/massa-deploy.git
[submodule "docs"]
	path = docs
	url = https://github.com/massalabs/massa.wiki.git
[submodule "massa"]
	path = massa
	url = https://github.com/massalabs/massa.git
