!/testrun/Cargo.lock
!massa-client/config/config.toml
!massa-client/config/info.adoc
!massa-node/config/config.toml
!massa-node/config/info.adoc
!massa-node/storage/info.adoc
!massa-node/storage/peers.json
.DS_Store
*.swp*
**/Cargo.lock
**/target
lcov.info
massa-client/config/*
massa-client/wallet.dat
massa-node/config/*
massa-node/logs.txt
massa-node/storage/*
