[package]
name = "massa_pos_exports"
version = "0.23.0"
authors = ["Massa Labs <info@massa.net>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitvec = { version = "1.0", features = ["serde"] }
displaydoc = "0.2"
nom = "=7.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
tracing = "0.1"
num = { version = "0.4", features = ["serde"] }
parking_lot = { version = "0.12", features = ["deadlock_detection"] }
crossbeam-channel = { version = "0.5", optional = true }
rocksdb = "0.20"
mockall = { version = "0.11.4", optional = true }

# custom modules
massa_hash = { path = "../massa-hash" }
massa_models = { path = "../massa-models" }
massa_serialization = { path = "../massa-serialization" }
massa_signature = { path = "../massa-signature" }
massa_db_worker = { path = "../massa-db-worker" }
massa_db_exports = { path = "../massa-db-exports" }

[dev-dependencies]
mockall = "0.11.4"
tempfile = "3.3"

# for more information on what are the following features used for, see the cargo.toml at workspace level
[features]
testing = ["crossbeam-channel", "massa_models/testing", "mockall"]
