history = 10
history_file_path = "config/.massa_history"
timeout = 1000

[default_node]
ip = "127.0.0.1"
private_port = 33034
public_port = 33035
grpc_public_port = 33037
grpc_private_port = 33038
chain_id = "77658377"

[client]
max_request_body_size = 52428800
request_timeout = 60000
max_concurrent_requests = 100
certificate_store = "Native"
id_kind = "Number"
max_log_length = 4096
headers = []

[client.http]
enabled = true
