[package]
name = "wallet"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
displaydoc = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_qs = "0.8"
thiserror = "1.0"
tracing = "0.1"
# custom modules
crypto = {path = "../crypto"}
models = {path = "../models"}
signature = { path = "../signature" }
time = { path = "../time" }
