[package]
name = "massa_execution_worker"
version = "0.1.0"
authors = ["Massa Labs <info@massa.net>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
displaydoc = "0.2"
lazy_static = "1.4"
rand = "0.8"
rand_xoshiro = "0.6"
parking_lot = "0.12"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tempfile = "3.2"
thiserror = "1.0"
tokio = { version = "1.15", features = ["full"] }
tracing = "0.1"
# custom modules
massa_execution_exports = { path = "../massa-execution-exports" }
massa_models = { path = "../massa-models" }
massa_hash = { path = "../massa-hash" }
massa-sc-runtime = { git = "https://github.com/massalabs/massa-sc-runtime", tag = "v0.4.4" }
massa_signature = { path = "../massa-signature" }
massa_time = { path = "../massa-time" }
massa_ledger = { path = "../massa-ledger" }

[dev-dependencies]
pretty_assertions = "1.0"
serial_test = "0.5"

# custom modules with testing enabled
massa_execution_exports = { path = "../massa-execution-exports", features = [
    "testing",
] }
massa_ledger = { path = "../massa-ledger", features = ["testing"] }
