[package]
name = "massa_execution_worker"
version = "0.1.0"
authors = ["Massa Labs <info@massa.net>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
rand = "0.8"
rand_xoshiro = "0.6"
parking_lot = "0.12"
tracing = "0.1"
# custom modules
massa_execution_exports = { path = "../massa-execution-exports" }
massa_models = { path = "../massa-models" }
massa_storage = { path = "../massa-storage" }
massa_hash = { path = "../massa-hash" }
massa-sc-runtime = { git = "https://github.com/massalabs/massa-sc-runtime", tag = "v0.6.2" }
massa_signature = { path = "../massa-signature" }
massa_time = { path = "../massa-time" }
massa_final_state = { path = "../massa-final-state" }
massa_async_pool = { path = "../massa-async-pool" }
massa_ledger = { path = "../massa-ledger" }

[dev-dependencies]
serial_test = "0.5"
tempfile = "3.2" 

# custom modules with testing enabled
massa_execution_exports = { path = "../massa-execution-exports", features = [
    "testing",
] }
massa_ledger = { path = "../massa-ledger", features = ["testing"] }
