[package]
name = "massa_logging"
version = "0.26.0"
authors = ["Massa Labs <info@massa.net>"]
edition = "2021"

[dependencies]
serde_json = {workspace = true}   # BOM UPGRADE     Revert to "1.0" if problem
tracing = {workspace = true}
