[package]
name = "massa_protocol_exports"
version = "0.25.2"
authors = ["Massa Labs <info@massa.net>"]
edition = "2021"

[features]
testing = ["tempfile"]

[dependencies]
displaydoc = {workspace = true}
thiserror = {workspace = true}
nom = {workspace = true}
serde = {workspace = true, "features" = ["derive"]}
serde_json = {workspace = true}   # BOM UPGRADE     Revert to "1.0" if problem
peernet = {workspace = true}
tempfile = {workspace = true, "optional" = true}   # BOM UPGRADE     Revert to {"version": "3.3", "optional": true} if problem
mockall = {workspace = true}
massa_models = {workspace = true}
massa_time = {workspace = true}
massa_storage = {workspace = true}
massa_serialization = {workspace = true}
massa_pos_exports = {workspace = true}
massa_signature = {workspace = true}
massa_versioning = {workspace = true}
massa_hash = {workspace = true}

[dev-dependencies]
tempfile = {workspace = true}   # BOM UPGRADE     Revert to "3.3" if problem
