[package]
name = "massa_wallet"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
displaydoc = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_qs = "0.11"
thiserror = "1.0"
tempfile = { version = "3.3", optional = true } # use with testing feature

# custom modules
massa_cipher = { path = "../massa-cipher" }
massa_hash = { path = "../massa-hash" }
massa_models = { path = "../massa-models" }
massa_signature = { path = "../massa-signature" }

[features]
testing = ["tempfile", "massa_models/testing"]
