name: CD

on:
  push:
    tags:
      - TEST.*

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  # The 3 following build jobs are 90% copy-pasted and should be refactored using
  # https://docs.github.com/en/actions/creating-actions/creating-a-composite-action
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: "x86_64-unknown-linux-musl"
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - run: |
          mkdir massa && cd massa && mkdir massa-node && mkdir massa-client
          cp -v ../target/release/massa-node massa-node/massa-node
          cp -v ../target/release/massa-client massa-client/massa-client
          cp -rv ../massa-node/config massa-node/config
          cp -rv ../massa-node/base_config massa-node/base_config
          cp -rv ../massa-node/storage massa-node/storage
          cp -rv ../massa-client/base_config massa-client/base_config
      - uses: actions/upload-artifact@v2
        with:
          name: release_linux
          path: massa/

  windows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: "x86_64-pc-windows-gnu"
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - run: |
          mkdir massa && cd massa && mkdir massa-node && mkdir massa-client
          cp -v ../target/release/massa-node massa-node/massa-node.exe
          cp -v ../target/release/massa-client massa-client/massa-client.exe
          cp -rv ../massa-node/config massa-node/config
          cp -rv ../massa-node/base_config massa-node/base_config
          cp -rv ../massa-node/storage massa-node/storage
          cp -rv ../massa-client/base_config massa-client/base_config
      - uses: actions/upload-artifact@v2
        with:
          name: release_windows
          path: massa/

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - run: |
          mkdir massa && cd massa && mkdir massa-node && mkdir massa-client
          cp -v ../target/release/massa-node massa-node/massa-node
          cp -v ../target/release/massa-client massa-client/massa-client
          cp -rv ../massa-node/config massa-node/config
          cp -rv ../massa-node/base_config massa-node/base_config
          cp -rv ../massa-node/storage massa-node/storage
          cp -rv ../massa-client/base_config massa-client/base_config
      - uses: actions/upload-artifact@v2
        with:
          name: release_macos
          path: massa/

  release:
    runs-on: ubuntu-latest
    needs: [linux, windows, macos]
    steps:
    - uses: actions/download-artifact@v2.0.10
      with:
        name: release_macos
        path: release_macos
    - uses: actions/download-artifact@v2.0.10
      with:
        name: release_windows
        path: release_windows
    - uses: actions/download-artifact@v2.0.10
      with:
        name: release_linux
        path: release_linux
    - run: |
        echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        tar -czvf massa_${RELEASE_VERSION}_linux.tar.gz release_linux
        tar -czvf massa_${RELEASE_VERSION}_windows.tar.gz release_windows
        tar -czvf massa_${RELEASE_VERSION}_macos.tar.gz release_macos
    - uses: softprops/action-gh-release@v1
      with:
        files: |
          release_linux.tar.gz
          release_darwin.tar.gz
          release_windows.tar.gz
