[package]
name = "massa_ledger_worker"
version = "0.1.0"
authors = ["Massa Labs <info@massa.net>"]
edition = "2021"

[dependencies]
serde_json = "1.0"
tempfile = { version = "3.3", optional = true } # use with testing feature
rocksdb = "0.20"
parking_lot = { version = "0.12", features = ["deadlock_detection"] }
nom = "7.1"

# custom modules
massa_ledger_exports = { path = "../massa-ledger-exports" }
massa_models = { path = "../massa-models" }
massa_serialization = { path = "../massa-serialization" }
massa_hash = { path = "../massa-hash" }
massa_db = { path = "../massa-db" }

[dev-dependencies]
massa_signature = { path = "../massa-signature" }
tempfile = "3.3"

# for more information on what are the following features used for, see the cargo.toml at workspace level
[features]
testing = ["tempfile", "massa_models/testing", "massa_ledger_exports/testing"]
